<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PRS</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterTeamServlet</servlet-name>
    <servlet-class>servlets.RegisterTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeamServlet</servlet-name>
    <url-pattern>/RegisterTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PDFServlet</servlet-name>
    <servlet-class>servlets.PDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFServlet</servlet-name>
    <url-pattern>/PDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentDetailServlet</servlet-name>
    <servlet-class>servlets.UpdateStudentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetailServlet</servlet-name>
    <url-pattern>/UpdateStudentDetailServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>SaveStudentDetailServlet</servlet-name>
    <servlet-class>servlets.SaveStudentDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>   
  	<servlet-name>SaveStudentDetailServlet</servlet-name>
    <url-pattern>/SaveStudentDetailServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SaveProjectDetailServlet</servlet-name>
    <servlet-class>servlets.SaveProjectDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>   
  	<servlet-name>SaveProjectDetailServlet</servlet-name>
    <url-pattern>/SaveProjectDetailServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
   	<servlet-name>UpdateProjectDetailServlet</servlet-name>
  	<servlet-class>servlets.UpdateProjectDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SubmitQuestionServlet</display-name>
  	<servlet-name>SubmitQuestionServlet</servlet-name>
  	<servlet-class>servlets.SubmitQuestionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ForumServlet</display-name>
  	<servlet-name>ForumServlet</servlet-name>
  	<servlet-class>servlets.ForumServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetDetailServlet</display-name>
  	<servlet-name>GetDetailServlet</servlet-name>
  	<servlet-class>servlets.GetDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewPendingDefinitionServlet</display-name>
  	<servlet-name>ViewPendingDefinitionServlet</servlet-name>
  	<servlet-class>servlets.ViewPendingDefinitionServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ChangeProjectStatusServlet</display-name>
  	<servlet-name>ChangeProjectStatusServlet</servlet-name>
  	<servlet-class>servlets.ChangeProjectStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ShowProjectDetailServlet</display-name>
  	<servlet-name>ShowProjectDetailServlet</servlet-name>
  	<servlet-class>servlets.ShowProjectDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewTeamServlet</display-name>
  	<servlet-name>ViewTeamServlet</servlet-name>
  	<servlet-class>servlets.ViewTeamServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
  	<servlet-name>UpdateProjectDetailServlet</servlet-name>
  	<url-pattern>/UpdateProjectDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitQuestionServlet</servlet-name>
  	<url-pattern>/SubmitQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForumServlet</servlet-name>
  	<url-pattern>/ForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDetailServlet</servlet-name>
  	<url-pattern>/GetDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPendingDefinitionServlet</servlet-name>
  	<url-pattern>/ViewPendingDefinitionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangeProjectStatusServlet</servlet-name>
  	<url-pattern>/ChangeProjectStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowProjectDetailServlet</servlet-name>
  	<url-pattern>/ShowProjectDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTeamServlet</servlet-name>
  	<url-pattern>/ViewTeamServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
</web-app>